<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dahuochifan"
    android:sharedUserId="com.dahuochifan.plugin">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 判断网络是否有效的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.dahuochifan.dao" />

    <permission
        android:name="com.dahuochifan.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.dahuochifan.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:theme="@style/AppThemeMorel">
        <uses-library android:name="android.test.runner" />

        <!-- <meta-data -->
        <!-- android:name="BDAPPKEY" -->
        <!-- android:value="XIePxAajc42TGIsk886zR3d4" /> -->
        <!-- &lt;!&ndash; 是否开启错误日志统计，默认为false &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="BaiduMobAd_EXCEPTION_LOG" -->
        <!-- android:value="true" /> -->
        <!-- &lt;!&ndash; 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="BaiduMobAd_SEND_STRATEGY" -->
        <!-- android:value="APP_START" /> -->
        <!-- &lt;!&ndash; 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(需要时取消下行注释即可)。取值为1-24的整数，默认为1 &ndash;&gt; -->
        <!-- &lt;!&ndash; <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> &ndash;&gt; -->
        <!-- &lt;!&ndash; 日志仅在wifi网络下发送，默认为false &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="BaiduMobAd_ONLY_WIFI" -->
        <!-- android:value="false" /> -->
        <!-- &lt;!&ndash; 是否获取基站位置信息 ,默认为true &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="BaiduMobAd_CELL_LOCATION" -->
        <!-- android:value="true" /> -->
        <!-- &lt;!&ndash; 是否获取GPS位置信息，默认为true &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="BaiduMobAd_GPS_LOCATION" -->
        <!-- android:value="true" /> -->
        <!-- &lt;!&ndash; 是否获取WIFI位置信息，默认为true &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="BaiduMobAd_WIFI_LOCATION" -->
        <!-- android:value="true" /> -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7363bc881311110c285ab6471560e715" />
        <!-- 6d63bca8730d8206ce809a0905bdcd5d -->
        <!-- 7363bc881311110c285ab6471560e715 -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="jpush.testAction" />

                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MyCookBookActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NicknameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ZitiAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CaipuEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyShikeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LeftMainGridActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChefDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
                   <activity
                   android:name=".activity.CookDetail2Activity"
                   android:exported="false"
                   android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".ui.activity.CookStoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
                    <activity
                    android:name=".activity.MainActivity3"
                    android:exported="false"
                    android:screenOrientation="portrait" />
        -->
        <!--
                    <activity
                    android:name=".activity.MeTabActivity"
                    android:exported="false"
                    android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".ui.activity.MeTabCookActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChefHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommentsDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OrderDetailActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShikeDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddressAddActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.AddressChooseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddressEditActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.AddressManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FeedBackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LeftMainGridActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PersonInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MeCollectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.ForgetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ApplyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DatePickerActivity2"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Wheel" />
        <activity
            android:name=".ui.activity.TimePickerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Wheel" />
        <activity
            android:name=".ui.activity.DatePickerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Wheel" />
        <activity
            android:name=".dao.DaoTestActivity"
            android:exported="false" />
        <activity
            android:name=".liandong.activity.MyWheelActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Wheel" />
        <activity
            android:name=".liandong.activity.MyWheelProvince"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Wheel" />
        <activity
            android:name=".ui.activity.JustLookActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.JustSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.ForgetDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OrderSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GonggaoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CookTagActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommentsChefDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".liandong.activity.AgeWheelActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Wheel" />
        <activity
            android:name=".liandong.activity.AgeApplyWheelActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Wheel" />
        <activity
            android:name=".crop.MyBackgroundActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".crop.MyBackgroundCommentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ClipPictureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PayDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PayTabActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.StoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ContactActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SimpleViewActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!--
                  <activity
                  android:name=".activity.MessageListActivity"
                  android:exported="false"
                  android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".ui.activity.DhActivitiesDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".liandong.activity.AddressWheelActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Wheel" />
        <activity
            android:name=".plugin.main.PluginActivity"
            android:process="com.dahuochifan.plugin"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ui.activity.ApplyAllActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageDetailActivityHome"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Dialog.Alert" />

        <receiver android:name="net.sourceforge.simcpux.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MorelJPushService"
            android:enabled="true"
            android:exported="false"
            android:priority="1000" />
        <service
            android:name=".service.DhNotiService"
            android:enabled="true"
            android:exported="false"
            android:priority="1000" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--
            	Adapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter的类，
            	这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。 
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            <meta-data android:name="Adapter" android:value="cn.sharesdk.demo.MyAdapter" />            
            -->


            <!--
            	Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
            	“db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权
            -->
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--
            	如果集成QQ分享，或者使用QQ客户端来进行QQ空间的分享，须要在此处添加一个对ACTION_VIEW
            	事件的过滤器，其中的scheme是“tencent”前缀再开发者应用的加上appId。如果此过滤器不设置，
            	则分享结束以后不能得到正确的回调
            -->
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--
                    &lt;!&ndash; 易信分享回调 &ndash;&gt;
                <activity
                    android:name=".yxapi.YXEntryActivity"
                    android:configChanges="keyboardHidden|orientation|screenSize"
                    android:excludeFromRecents="true"
                    android:exported="true"
                    android:launchMode="singleTop"
                    android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        -->


        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.dahuochifan" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.dahuochifan" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="com.dahuochifan.wjj.morelservice.destroy" />

                <category android:name="com.dahuochifan" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="bcf251ca57117a1e3acc5b5e" />
        <!-- </>值来自开发者平台取得的AppKey -->
        <activity
            android:name=".ui.activity.DhLocationActivity"
            android:label="@string/title_activity_dh_location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DhAddressMapActivity"
            android:label="@string/title_activity_dh_address_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChefSearchActivity"
            android:label="@string/title_activity_chef_search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TimeLineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DhShikeLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DhLocationNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMorel"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.AddressAddNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMorel"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.PhotoViewVPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PhotoViewVPCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommentsNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DhDiscountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DhDiscountUnableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DhDiscountValActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ConfirmOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.ShikeUnReceActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.TestActivity"></activity>
    </application>

</manifest>
